h1 {
  color:brown;
}

.message {
    color:indigo;
    font-size:large;
    padding:6px;
}

.form_row {
  margin-bottom:6px;
}

.form_row2 {
  margin-bottom:6px;
  margin-bottom:6px;
}